.container__small-card {
  width: 500px;
  margin-bottom: 10px;
}

.container__small-card-content {
  display: flex;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  height: 100px;
  min-height: 100px;
  margin-right: 25px;
}

.small-card__title {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.container__small-card-separator {
  margin-top: 10px;
}